@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
.dash-nav
{
    background-color: rgb(43, 73, 73);
}
.container-fluid
{
 background:rgb(245, 244, 244);
 height:100%
}
#website-details
{
    background: #ffff;
    border-radius: 2px;
    box-shadow: 1px 1px 3px  rgb(218, 215, 215);
}
.template
{
    height:60px;
    width:50px;
    margin-top: 4%;
}
.line
{
    widows: 100%;
    background:yellow;
    height:2px;
}
.title 
{
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
}
.data 
{
    font-size: 18px;
}
.logo
{
    height: 30px;
    width:30px;
}