<div class="container-fluid">
    <!--Banner Section-->
    <section>
    <div class="row">
        <div class="col s12 m12 l12 mainbox center">
            <p class="quotes">The challenge of life,I have found,
                is to build a resume that doesn't simply tell 
                a story about what you want to be,but it's a story about who you want to be
            </p>
            <button class="btn" routerLink="templates">Go</button>
        </div>
    </div>
   </section>
   <!--cards Section-->
   <section>
          <div class="row">
              <div class="col s12 m6 l3" data-aos="fade-right"  data-aos-duration="1000">
                  <div class="card" >
                      <div class="card-image">
                          <img src="../assets/normalresume.png" class="responsive-img resumeexamples">
                      </div>
                      <div class="card-content">
                        <h5 class="cardtitle">Tradional Resume</h5>
                          <p>
                             A traditional paper resume, ideally one or two pages long, 
                             documents your educational and occupational history, including job duties and accomplishments. 
                             It also contains contact information and details on memberships, awards,
                             career highlights, civic involvements, personal interests and references.
                         </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m6 l3">
                <div class="card" data-aos="fade-left"  data-aos-duration="1000">
                    <div class="card-image">
                        <img src="../assets/digitalresume.png" class="responsive-img resumeexamples">
                    </div>
                    <div class="card-content mt-2">
                        <h5 class="cardtitle">Digital Resume</h5>
                         <p>
                            The Web resume compiles the information found in a traditional resume but doesn't stop there.
                             It can resemble a traditional resume, but it is not bound by a page length or even by the concept of pages. 
                            It can be a slideshow, video or website with your name as the domain name. A Web resume can utilize colors and 
                            graphics.We can develope fully device responsive Websites and apps as you expect.
                        </p>
                    </div>
                </div>
            </div>
            <!--images div-->
            <div class="col s12 m12 l6 gallerybox mt-4">
              <img src="../assets/homepagegallery/img-1.jpg" class="col s12  m6 l4 image-container mt-2"  data-aos="fade-right" data-aos-duration="1000">
              <img src="../assets/homepagegallery/img-3.jpg" class="col s12 m6 l5 image-container mt-2" data-aos="fade-down" data-aos-duration="1000">
              <img src="../assets/homepagegallery/img-4.jpg" class="col s12 m6 l3 image-container mt-2 hide-on-small-only" data-aos="fade-left" data-aos-duration="1000">
              <img src="../assets/homepagegallery/img-2.jpg" class="col s6 m6 l6 image-container mt-2 hide-on-small-only" data-aos="fade-right" data-aos-duration="1000">
              <img src="../assets/homepagegallery/img-5.jpg" class="col s6 m6 l6 image-container mt-2 hide-on-med-and-down" data-aos="fade-left" data-aos-duration="1000">
            </div>
        </div>
   </section>
   <footer class="page-footer blue">
     <div class="container">
         <div class="row">
             <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">
                    we believe everyone deserves to have a website or online store. 
                    Innovation and simplicity makes us happy: our goal is to remove any technical or financial barriers that can 
                    prevent business owners from making their own website
                </p>
             </div>
             <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>
                 <ul>
                   <li>
                      <p><i class="material-icons  ml-1">local_post_office</i>&nbsp;&nbsp;&nbsp;&nbsp;rajussp31121997@gmail.com</p>
                   </li>
                   <li>
                    <p><i class="material-icons  ml-1">local_phone</i>&nbsp;&nbsp;&nbsp;&nbsp;+91&nbsp;7904293970</p>
                  </li>
                   <li>
                    <p><i class="material-icons  ml-1">location_on</i>&nbsp;&nbsp;&nbsp;&nbsp;10/2,Periyar Nagar,Sivagangai.</p>
                  </li>
                </ul>
             </div>
         </div>
     </div>
     <div class="container">
      <div class="footer-copyright">
       <i class="fab fa-google-plus-g  ml-1"></i>
       <i class="fab fa-facebook ml-1"></i>
       <i class="fab fa-github  ml-1"></i>
       <i class="fab fa-linkedin-in  ml-1"></i>
      </div>
    </div>
   </footer>
</div>